@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    font-size: 14px !important;
    font-family: 'Montserrat', sans-serif !important;
    overflow-x: hidden;
}

h1 {font-size: 42px !important;}
h2 {font-size: 34px !important;}
h3 {font-size: 26px !important;}
h4 {font-size: 18px !important;}
h5 {font-size: 14px !important;}

nav {
    color: white;
    margin-bottom: 0px !important;
}

.header-menu {
    /* min-height: 90vh;
    max-height: 90vh; */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./header.jpg") no-repeat center fixed;
  }

  .nav-link {
      font-weight: 700;
      font-size: 16px;
      color: white !important;
  }

  .nav-link:hover {
      text-decoration: underline;
  }

  #taglines {
    color: #fff;
    text-align: center;
    margin-top: 20vh;
    opacity: 5;
  }
  
  .main-line {
    font-size: 18px;
  }
  
  .sub-line {
    margin-top: 2%;
    font-size: 46px;
  }

  .pizzas {
    padding: 12px;
  }

  .pizza-img {
    height: 200px !important;
    width: 200px !important;
  }

  .flex-container {
    display: flex !important;
  }

  .btn {
    background-color: red !important;
    color: white !important;
  }

  select {
    box-shadow: none !important;
    border-color: black !important;
  }

  .pizza-div {
    font-size: 12px !important;
  }

  .icon {
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
  }

  .hori-line {
    width: 100%;
  }

  input {
    margin-top: 10px !important;
    box-shadow: none !important;
    font-size: 12px;
  }

  .user-btn {
    display: block !important;
  }

  .filter-row {
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 16px !important;
  }

  .col-md-3 select {
    font-size: 16px !important;
  }

  .col-md-3 input {
    font-size: 16px !important;
  }

  .search-pizza {
    flex-grow:  1;
  }

  .admin-functions {
    padding: 10px;
    background-color: rgb(1,1,77);
  }

  .admin-functions li {
    list-style-type: none;
    display: inline !important;
  }

  .admin-functions li a {
    color: white !important;
    text-decoration: none;
    padding: 20px;
  }

  .admin-functions li a:hover {
    text-decoration: underline;
  }


@media screen and (min-width: 992px) {

.navbar {
    max-height: 70px;
}

}